export const  email = {
    DOMAIN: "",
    APIKEY: process.env.MAIL_APIKEY || "xxxxxxx",
    FROM: "",
    DEVEMAILS: ["YOUR@EMAIL.COM"] //restrict out going emails to this list for development purposes
  };

export const server = {
  port: process.env.APP_PORT || 3000,
  app: process.env.APP_NAME || 'poros-site',
  SESSION_SECRET: process.env.SESSION_SECRET || 'a super secret',
};

export const env = {
  development: process.env.NODE_ENV == 'development',
  production: process.env.NODE_ENV == 'production',
};



export default {
  email,
  env,
  server
}
