.editable {
  cursor: pointer;
  border-bottom: 1px dashed #AAA;
}

.poros-actionable {
  cursor: pointer;
}

.poros-hide {
  display: none !important;
}

#poros-toggle.poros-menu-closed {
  /*transform: rotate(-180deg);*/
  letter-spacing: -.1em !important;
}
#poros-toggle:hover {
/*transform: scale(1.5);*/
}
#poros-toggle:hover.poros-menu-closed {
  /*transform: scale(1.5) rotate(-180deg);*/
}

#poros-toggle {
  cursor: pointer;
  position: fixed;
  left: 15px;
  top: 0;
  z-index: 999999;

  color: #444 !important;
  font-size: 2em !important;
  font-family: monospace !important;
  transition: letter-spacing .4s !important;
  letter-spacing: .5em !important;
}

#poros-menu.poros-menu-closed {
  transform: translate3d(-1500px, 0px, 0px);
  display: none;
}


#poros-menu {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: 999999;
}

#poros-main-menu{
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 210px;
  padding: 25px 15px;

  transform: translate3d(0px, 0px, 0px);

  background-color: #E0E0E0 !important;
  font-size: 1.5em;
  transition: transform .4s;
}

#poros-main-menu #poros-menu-logout {
  position: absolute;
  bottom: 0;
}

#poros-menu h1, #poros-menu a {
  color: #888 !important;
  font-weight: lighter;
  font-family: 'lato', 'helvetica', 'open sans', "droid sans", sans-serif !important;
  text-decoration: none !important;

  display: block;
  margin: 10px 0;
  padding: 0;
}

#poros-menu h1 {
  color: #222 !important;
  border-bottom: 1px solid #222;
}

#poros-menu a:hover {
  color: #444 !important;
  /*box-shadow: 1px 1px 10px #CCC!important;
  padding: 3px !important;
  margin: -3px !important;*/
}

#poros-menu ul {
  margin: 0;
  padding-left: 30px;
}

#poros-menu ul li {
  list-style: none;
}

#poros-menu a.main-menu-selected {
  font-weight: 700 !important;
  color: #000 !important;
}

#poros-menu-close-button,
#poros-record-close-button{
  position: absolute;
  top: 10px;
  right: 20px;

  color: #444 !important;
  font-size: 1.2em !important;
  font-family: monospace !important;
  letter-spacing: -.3em !important;
  transition: transform .4s !important;

  cursor: pointer;
}

#poros-record-close-button:hover,
#poros-menu-close-button:hover {
  transform: scale(1.5);
}

#poros-sub-menu.small {
  position: fixed;
  left: 215px;
  top: 0;
  bottom: 0;
  padding: 55px 15px;
  overflow: auto;

  z-index: 999990;
  transform: translate3d(0px, 0px, 0px);

  background-color: #EEE !important;
  transition: transform .1s;
  width: 240px;
  font-size: 1em !important;
  font-family: monospace !important;
  color: #000 !important;
}

#poros-sub-menu.poros-menu-closed {
  transform: translate3d(-2000%, 0px, 0px);
}

 #poros-record-edit {
   display: flex;
   flex-direction: column;
   min-width: 300px;
   max-width: 600px;
   position: fixed;
   left: 470px;
   top: 0;
   bottom: 0;
   right: 10px;
   padding: 55px 15px;
   overflow: auto;

   z-index: 999990;
   transform: translate3d(0px, 0px, 0px);

   background-color: #EEE !important;
   transition: transform .1s;
   font-size: 1em !important;
   font-family: monospace !important;
   color: #000 !important;
 }

 #poros-record-edit.poros-menu-closed {
   transform: translate3d(1000%, 0px, 0px);
 }

#poros-menu.poros-menu-closed #poros-record-edit {
  display: none;
}

.poros-menu h2 {
  font-size: 1.25em !important;
  font-weight: normal !important;
  color: #000 !important;
}

.poros-menu ul {
  margin: 0;
  padding-left: 10px;
}

.poros-menu ul {
  width: 100%;
  height: 60%;
  max-height: 600px;
  overflow: auto;
}

.poros-menu li {
  margin-bottom: 20px;
}

.poros-menu input,
.poros-menu textarea,
.poros-menu select ,
.poros-menu button {
 width: 100% !important;
 border-radius: 3px !important;
 box-sizing: border-box !important;
 padding: 10px !important;
 border: 1px solid #888 !important;
}

.poros-menu #poros-button-okay {
 background-color: rgb(107, 194, 239) !important;
 color: #FFF !important;
 cursor: pointer !important;
}
.poros-menu #poros-button-cancel {
 background-color: transparent !important;
 color: #444 !important;
 border: none !important;
 cursor: pointer !important;
}
.poros-menu #poros-button-duplicate {
 background-color: transparent !important;
 color: rgb(107, 194, 239) !important;
 cursor: pointer !important;
}
.poros-menu #poros-button-delete {
 background-color: transparent !important;
 color: rgb(239, 107, 107) !important;
 cursor: pointer !important;
}
.poros-menu #poros-button-alphabetical {
width: auto !important;
padding: 0 5px !important;
border: none !important;
}

.poros-menu textarea {
  height: 10em;
}

#poros-record-edit ul{
  display: unset
}


#poros-status {
  background-color: #DDD;
  opacity: .8;
  display: inline-block;
  width: 15px;
  height: 15px;
  position: fixed;
  top: 10px;
  right: 20px;
  border-radius: 999px;
  z-index: 999999;
}

#poros-status.poros-status-pull {
  background-color: #E6C83E;
}

#poros-status.poros-status-push {
  background-color: #3EB768;
}

#poros-status.poros-status-error {
  background-color: #E02727;
}

@media only screen and (max-width: 990px) {
  #poros-sub-menu.small {
    left: 0;
    max-width: initial;
  }

  #poros-record-edit {
    left: 0;
    max-width: initial;
  }
}
