.editable {
  cursor: pointer;
  border-bottom: 1px dashed #AAA;
}

.poros-actionable {
  cursor: pointer;
}

#poros-toggle.poros-menu-closed {
  transform: rotate(-180deg);
}
#poros-toggle {
  cursor: pointer;
  position: fixed;
  left: 15px;
  top: 0;
  z-index: 999999;

  color: #444 !important;
  font-size: 2em !important;
  font-family: monospace !important;
  letter-spacing: -.3em !important;
  transition: transform .4s !important;
}

#poros-menu.poros-menu-closed {
  transform: translate3d(-1500px, 0px, 0px);
}

#poros-menu {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 210px;
  padding: 25px 15px;

  z-index: 999999;
  transform: translate3d(0px, 0px, 0px);

  background-color: #E0E0E0 !important;
  font-size: 1.5em;
  transition: transform .4s;
}

#poros-menu #poros-menu-logout {
  position: absolute;
  bottom: 0;
}

#poros-menu h1, #poros-menu a {
  color: #888 !important;
  font-weight: lighter;
  font-family: 'lato', 'helvetica', 'open sans', "droid sans", sans-serif !important;
  text-decoration: none !important;

  display: block;
  margin: 10px 0;
  padding: 0;
}

#poros-menu h1 {
  color: #222 !important;
  border-bottom: 1px solid #222;
}

#poros-menu a:hover {
  color: #444 !important;
  /*box-shadow: 1px 1px 10px #CCC!important;
  padding: 3px !important;
  margin: -3px !important;*/
}

#poros-menu ul {
  margin: 0;
  padding-left: 30px;
}

#poros-menu ul li {
  list-style: none;;
}

#poros-menu-close-button {
  position: absolute;
  top: 10px;
  right: 20px;

  color: #444 !important;
  font-size: 2em !important;
  font-family: monospace !important;
  letter-spacing: -.3em !important;
  transition: transform .4s !important;

  cursor: pointer;
}

#poros-sub-menu.small {
  position: fixed;
  left: 242px;
  top: 0;
  bottom: 0;
  padding: 25px 15px;
  overflow: auto;

  z-index: 999990;
  transform: translate3d(0px, 0px, 0px);

  background-color: #EEE !important;
  font-size: 1.5em;
  transition: transform .4s;
}

#poros-sub-menu.small {
  width: 240px;
  font-size: 1em;
}

#poros-sub-menu.poros-menu-closed {
  transform: translate3d(-1000px, 0px, 0px);
}

#poros-sub-menu h2 {
  font-size: 1.25em !important;
  font-weight: normal !important;
}

#poros-sub-menu ul {
  margin: 0;
  padding-left: 10px;
}

#poros-sub-menu li {
  margin-bottom: 20px;
}


#poros-sub-menu input, #poros-sub-menu textarea, #poros-sub-menu select , #poros-sub-menu button {
  width: 100% !important;
  border-radius: 3px !important;
  box-sizing: border-box !important;
  padding: 10px !important;
  border: 1px solid #888 !important;
}

#poros-sub-menu #poros-button-okay {
  background-color: rgb(107, 194, 239) !important;
  color: #FFF !important;
  cursor: pointer !important;
}
#poros-sub-menu #poros-button-cancel {
  background-color: transparent !important;
  color: #444 !important;
  border: none !important;
  cursor: pointer !important;
}
#poros-sub-menu #poros-button-delete {
  background-color: transparent !important;
  color: rgb(239, 107, 107) !important;
  cursor: pointer !important;
}

 #poros-sub-menu textarea {
   height: 10em;
 }


#poros-status {
  background-color: #DDD;
  opacity: .8;
  display: inline-block;
  width: 15px;
  height: 15px;
  position: fixed;
  top: 10px;
  right: 20px;
  border-radius: 999px;
  z-index: 999999;
}

#poros-status.poros-status-pull {
  background-color: #E6C83E;
}

#poros-status.poros-status-push {
  background-color: #3EB768;
}

#poros-status.poros-status-error {
  background-color: #E02727;
}
